{% extends "layout.twig" %}

{% block content %}

<section>
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
    <div class="header-wrapper clearfix">
        <header>
            <div class="wrapper clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                {{widget('extendednavigation', 'navigationheader', {})|raw}}
            </div>
        </header>
    </div>
    <div class="image-bar">
        <div> 
        {{widget('image', 'thisunqiuewidgetname', { 'src': asset('images/gallery/1.jpg'), 'title': 'my image', 'alt': 'my image', 'fileName': '1.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '450px'})|raw}} 
    </div>

    <div>
    {{widget('image', 'thisunqiuewidgetname', { 'src': asset('images/gallery/1.jpg'), 'title': 'my image', 'alt': 'my image', 'fileName': '1.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '450px'})|raw}}
    </div> 

<div>
    {{widget('image', 'thisunqiuewidgetname', { 'src': asset('images/gallery/1.jpg'), 'title': 'my image', 'alt': 'my image', 'fileName': '1.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '450px'})|raw}}
</div>

    </div>
</section>

<div class="canvas">
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
</div>

<footer>
    <div class="wrapper clearfix">
        {{widget('companyaddress', 'companyaddress', {})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
    </div>
</footer>

{% endblock %}
